body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px;
}

.card {
  width: 90%;
  box-shadow: 3px 3px 2px 3px #888;
  margin-top: 20px;
  margin-bottom: 20px;
}

.space {
  width: auto;
  height: 300px;
  overflow: auto;
}

div button.round-btn {
  border-radius: 50%;
}

.contain {
  position: relative;
  text-align: center;
  color: white;
}

.put-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
